.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-touch-callout: none !important; 
  overflow:hidden; /*To remove the reboot when the gesture is down*/ 
  margin: 0;
}

html, body, #root {
  height: 100%;
}

.unselect{
  -ms-user-select: none; 
  -moz-user-select: none; 
  -webkit-user-select: none; 
  user-select: none;
}

/* Default button */

.default-button{
  -webkit-touch-callout: none !important; 

  border: none;
  background: #525252;
  font-family: "Roboto";
  font-size: 20px;
  color: white;
  border-radius: 7px;
  box-shadow: 0 7px 0px #242424;
  display: inline-block;
  transition: all .2s;
  position: relative;
  padding: 20px 25px;
  position: relative;
  top: 0;
  cursor: pointer;
  margin:0 20px;
}

.default-button:active{
  top: 3px;
  box-shadow: 0 2px 0px #121212;
  transition: all .2s;
}


p{
  font-family: "Roboto";
}


*{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}