.container {
    background-color: #333333;
    width: 100%;
    height: 100%;
    display: flex;
}

.buttons-container {
    position: relative;
    display: flex;
}

.game-grid {
    display: inline-grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
    grid-column-gap: 1.5%;
    grid-row-gap: 1.5%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.game-button {
    border: 0cap;
    padding: 0px;
}

.restart-button {
    background: url("../../images/restartMinigame.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

.return-to-joystick{
    background: url("../../images/returnToJoystick.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

/*media*/

@media (orientation: landscape) {
    .container {
        justify-content: space-around;
        flex-direction: row-reverse;
        align-items: center;
    }

    .buttons-container {
        flex-direction: column;
    }
}

@media (orientation: portrait) {
    .container {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .buttons-container {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media (orientation: landscape) and (min-height: 0px) {
    .game-grid {
        width: 70%;
        height: 95%;
    }

    .buttons-container {
        width: 20%;
        height: 95%;
    }

    .game-button {
        width: 100%;
        height: 20%;
    }
}

@media (orientation: landscape) and (min-height: 210px) {
    .game-grid {
        width: 190px;
        height: 190px;
    }

    .buttons-container {
        width: 50px;
        height: 190px
    }

    .game-button {
        width: 50px;
        height: 50px;
    }
}

@media (orientation: landscape) and (min-height: 330px) {
    .game-grid {
        width: 300px;
        height: 300px;
    }

    .buttons-container {
        width: 70px;
        height: 300px
    }

    .game-button {
        width: 70px;
        height: 70px;
    }
}

@media (orientation: landscape) and (min-height: 380px) {
    .game-grid {
        width: 340px;
        height: 340px;
    }

    .buttons-container {
        width: 74px;
        height: 340px
    }

    .game-button {
        width: 74px;
        height: 74px;
    }
}

@media (orientation: landscape) and (min-height: 450px) {
    .game-grid {
        width: 400px;
        height: 400px;
    }

    .buttons-container {
        width: 88px;
        height: 400px
    }

    .game-button {
        width: 88px;
        height: 88px;
    }
}

@media (orientation: landscape) and (min-height: 500px) {
    .game-grid {
        width: 460px;
        height: 460px;
    }

    .buttons-container {
        width: 98px;
        height: 480px
    }

    .game-button {
        width: 98px;
        height: 98px;
    }
}

@media (orientation: landscape) and (min-height: 590px) {
    .game-grid {
        width: 540px;
        height: 540px;
    }

    .buttons-container {
        width: 116px;
        height: 540px
    }

    .game-button {
        width: 116px;
        height: 116px;
    }
}

@media (orientation: landscape) and (min-height: 660px) {
    .game-grid {
        width: 600px;
        height: 600px;
    }

    .buttons-container {
        width: 130px;
        height: 600px
    }

    .game-button {
        width: 130px;
        height: 130px;
    }
}

@media (orientation: landscape) and (min-height: 720px) {
    .game-grid {
        width: 650px;
        height: 650px;
    }

    .buttons-container {
        width: 142px;
        height: 650px
    }

    .game-button {
        width: 142px;
        height: 142px;
    }
}

@media (orientation: landscape) and (min-height: 810px) {
    .game-grid {
        width: 730px;
        height: 730px;
    }

    .buttons-container {
        width: 159px;
        height: 730px
    }

    .game-button {
        width: 159px;
        height: 159px;
    }
}

@media (orientation: landscape) and (min-height: 950px) {
    .game-grid {
        width: 860px;
        height: 860px;
    }

    .buttons-container {
        width: 158px;
        height: 860px
    }
}

@media (orientation: landscape) and (min-height: 1070px) {
    .game-grid {
        width: 970px;
        height: 970px;
    }

    .buttons-container {
        width: 186px;
        height: 970px
    }
}


@media (orientation: landscape) and (min-height: 3000px) {
    .game-grid {
        width: 70%;
        height: 55%;
    }

    .buttons-container {
        width: 20%;
        height: 95%;
    }
}

@media (orientation: portrait) and (min-width: 0px) {
    .game-grid {
        width: 95%;
        height: 70%;
    }

    .buttons-container {
        width: 95%;
        height: 20%;
    }

    .game-button {
        width: 20%;
        height: 100%;
    }
}

@media (orientation: portrait) and (min-width: 210px) {
    .game-grid {
        width: 190px;
        height: 190px;
    }

    .buttons-container {
        width: 190px;
        height: 50px
    }

    .game-button {
        width: 50px;
        height: 50px;
    }
}

@media (orientation: portrait) and (min-width: 330px) {
    .game-grid {
        width: 300px;
        height: 300px;
    }

    .buttons-container {
        width: 300px;
        height: 70px
    }

    .game-button {
        width: 70px;
        height: 70px;
    }
}

@media (orientation: portrait) and (min-width: 380px) {
    .game-grid {
        width: 340px;
        height: 340px;
    }

    .buttons-container {
        width: 340px;
        height: 74px
    }

    .game-button {
        width: 74px;
        height: 74px;
    }
}

@media (orientation: portrait) and (min-width: 450px) {
    .game-grid {
        width: 400px;
        height: 400px;
    }

    .buttons-container {
        width: 400px;
        height: 88px
    }

    .game-button {
        width: 88px;
        height: 88px;
    }
}

@media (orientation: portrait) and (min-width: 500px) {
    .game-grid {
        width: 460px;
        height: 460px;
    }

    .buttons-container {
        width: 480px;
        height: 98px
    }

    .game-button {
        width: 98px;
        height: 98px;
    }
}

@media (orientation: portrait) and (min-width: 590px) {
    .game-grid {
        width: 540px;
        height: 540px;
    }

    .buttons-container {
        width: 540px;
        height: 116px
    }

    .game-button {
        width: 116px;
        height: 116px;
    }
}

@media (orientation: portrait) and (min-width: 660px) {
    .game-grid {
        width: 600px;
        height: 600px;
    }

    .buttons-container {
        width: 600px;
        height: 130px
    }

    .game-button {
        width: 130px;
        height: 130px;
    }
}

@media (orientation: portrait) and (min-width: 720px) {
    .game-grid {
        width: 650px;
        height: 650px;
    }

    .buttons-container {
        width: 650px;
        height: 142px
    }

    .game-button {
        width: 142px;
        height: 142px;
    }
}

@media (orientation: portrait) and (min-width: 810px) {
    .game-grid {
        width: 730px;
        height: 730px;
    }

    .buttons-container {
        width: 730px;
        height: 159px
    }

    .game-button {
        width: 159px;
        height: 159px;
    }
}

@media (orientation: portrait) and (min-width: 950px) {
    .game-grid {
        width: 860px;
        height: 860px;
    }

    .buttons-container {
        width: 860px;
        height: 158px
    }

    .game-button {
        width: 158px;
        height: 158px;
    }
}

@media (orientation: portrait) and (min-width: 1070px) {
    .game-grid {
        width: 970px;
        height: 970px;
    }

    .buttons-container {
        width: 970px;
        height: 186px;
    }

    .game-button {
        width: 186px;
        height: 186px;
    }
}


@media (orientation: portrait) and (min-width: 3000px) {
    .game-grid {
        width: 70%;
        height: 55%;
    }

    .buttons-container {
        width: 95%;
        height: 20%;
    }
}