.end-point-element {
    position: relative;
    width: 85%;
    height: 85%;
    border-radius: 100px;
}

.end-point-element-red {
    background-image: url("../../images/endPointRed.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.end-point-element-blue {
    background-image: url("../../images/blueEndPoint.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.end-point-element-green {
    background-image: url("../../images/greenEndPoint.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.end-point-element-pink {
    background-image: url("../../images/pinkEndPoint.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.end-point-element-yellow {
    background-image: url("../../images/yellowEndPoint.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

.end-element-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
